@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
body{
    background-color: #e8eefa;
}
#homesection{
    background-image: url("images/banner\ main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Modify the background color */
.navbar{
	/* background-color: rgba(255, 255, 255, 0.233)); */
    background-color: white;
}
 /* .dshadow{
    filter: drop-shadow(10px 7px 10px yellow);
    width: 50%;
} */
.hed-txt{
    font-size: 7em;
}
.g-f-d{
    font-family: "Delicious Handrawn", cursive;
    font-size: 1.5em;
}
.bg-rotate{
    background-image: url("images/scrolling\ bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.f-g-a{
    font-family: "Anta", sans-serif;
    font-weight: bolder;
}
body{
    scroll-behavior: smooth;
}